body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 40%;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
}

.float-version .top-block {
    width: 100%;
    background: #6ea6d9;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
}

.middle-block {
    width: 100%;
}

.text-area {
    float: left;
    width: 70%;
    background: #cae198;
    padding: 120px 0;
    text-align: center;
    font-size: 22px;
}

.side-img {
    float: left;
    width: 30%;
    background: #9bb376;
    padding: 120px 0;
    text-align: center;
    font-size: 22px;
}

.bottom-img {
    width: 100%;
    background: #5ee3d2;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
}

/* ==== FLEXBOX VERSION ==== */

.flex-version .flex-top {
    background: #6ea6d9;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
    width: 100%;
}

.flex-version .flex-middle {
    display: flex;
    width: 100%;
}

.flex-text {
    flex: 70%;
    background: #cae198;
    padding: 120px 0;
    text-align: center;
    font-size: 22px;
}

.flex-img {
    flex: 30%;
    background: #9bb376;
    padding: 120px 0;
    text-align: center;
    font-size: 22px;
}

.flex-version .flex-bottom {
    width: 100%;
    background: #5ee3d2;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
}
